# Devvy executable (generated)
devvy

# Secrets for SSH keygen files
secrets/

# User configuration
user.config.json
vscode-config/

# ENV file (generated)
.env

# Logs and typical things
*.log
.DS_Store
node_modules
dist
